/* ===== FOOTER =====*/
.footer{
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 600;
    padding: 0.2rem 0;
}
.footer__title{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.footer__social{
    margin-bottom: 0.2rem;
}
.footer__icon{
    font-size: 1.25rem;
    color: black;
    margin: 0 2rem;
}